.LoginFormContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.LoginFormContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.LoginFormContainer label {
  margin-bottom: 5px;
  font-weight: bold;
}

.LoginFormContainer input {
  margin: 5px 0px 15px 0px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.LoginButton {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.LoginButton:hover {
  background-color: #218838;
}

.ErrorMessage {
  color: red;
  margin-bottom: 15px;
}
